*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: black;
    
}
body{
    background-color: rgba(0, 0, 0, 0.535);
    height: 100vh;
    color: rgb(203, 176, 176);
}
div .picture{
    height: 200px;
    width: 200px;
    border-color: 2px azure;
}
div img {
    height: auto; 
    width: auto; 
    max-width: 300px; 
    max-height: 500px;
    float: right;
}
h1{
    display: flex;
    justify-content: center;
    font-family: 'Amatic SC', cursive;
    font-weight: 100;
    font-size: 70px;
    
}
.left {
  
    height: 502px;
    /* width: 500px; */
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}
p {
    font-size: 40px;
    
}
span{
    font-family: 'Abril Fatface', cursive;
    font-size: 65px;
    text-decoration: underline;
}
/* @media (min-height:815px){
p {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}
/* span{
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
} */
/* }
@media (mAX-width:770px){
    h1{
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        flex-wrap: wrap;
        flex-shrink: 8;
    }
} */ 















.navbar-toggler {
    background-color:white;
    color: white;
    
   
    
}
.navbar-toggler:hover {
    background-color:rgb(164, 158, 158);
    color: rgb(207, 194, 194);
    
}
a.nav-link{
    font-family: 'Permanent Marker', cursive;
    opacity: .5;
    color: rgb(218, 200, 200);
}

.nav-link {
    
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    font-size: large;
    color: white;

}
.nav-link:hover{
    background-color: whitesmoke;
}
div #navbarNav {
    color: white;
}
footer {
    
        display: grid;
        grid-template-columns: 1fr,1fr;
        
    
        
    }
    footer ul {
        list-style: none;
        grid-column: 2;
        display: flex;
        justify-content: space-evenly;
        padding-right: 70px;
        margin-left: 80px;
        margin-top: 20px;
    }