

body {
    background-color:rgba(205, 143, 168, 0.52);
}
div input{
    background-color: rgba(236, 238, 238, 0.702);
    border-radius: 25px;
    

}
div textarea{
    background-color: rgba(236, 238, 238, 0.702);
    border-radius: 25px;
    
}
.box{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    padding-right: 160px;
}
div input {
    padding-right: 100px;
}
#intro {
    background-image: url("./PlantCoffeCHair.jpg");
    /* height: 700px; */
    background-size:contain;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
#right {
    background-image: url("./LifeIsYourCreation.jpg");
    height: 650px;
    width: 1215px;
    /* background-size:contain; */
    background-repeat: no-repeat;
    background-attachment: fixed;  
    /* margin-top: 10px; */
    background-position:center;
    background-size: 70%;
}
h1{
color: white;
font-size: 70px;
font-family: 'Shadows Into Light', cursive;
}










.navbar-toggler {
    background-color:white;
    
}


a.nav-link{
    font-family: 'Permanent Marker', cursive;
    opacity: .5;
   
}

.nav-link {
    
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    font-size: large;

}

footer {
    display: grid;
    grid-template-columns: 1fr,1fr;
    background-color: rgba(229, 184, 229, 0.191);
    border-top: 2px solid rgba(238, 124, 124, 0.643);
        
    }
    footer ul {
        list-style: none;
        grid-column: 2;
        display: flex;
        justify-content: space-evenly;
        padding-right: 70px;
        margin-left: 80px;
        margin-top: 20px;
    }
    /* @media(max-width:355px){
  div.box{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    /* flex-wrap: wrap; */
    
  /* } */
  /* textarea{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end; 
    flex-wrap: wrap;
   
  } */
    /* } */ 
    @media (max-width:360px) {
        /* main{
            display: flex;
            justify-content:flex-start;
            align-items: center;
        
        } */
       footer{
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        float: right;
        margin-right:37px;
       } 
       div#right{
        height: 560px;
        width:400px;
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
     }
    div#right.p-5.text-right.bg-image {
       
        height: 250px;
        width:250px;
        display: flex;
        justify-items:center;
        align-items:center;
        margin-bottom: 80px;
    }
    h1{
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        margin-right: 90px;
    }
    .box{
        display: flex;
        justify-items:center;
        align-items:center;
        margin-right: -50px ;
        
    }
    input{
        width: 230px;
    }
    textarea{
        width: 230px;
    }
    }